;;
;; deps.edn
;;

{:paths      ["src"]
 :deps       {org.clojure/tools.namespace  {:mvn/version  "0.2.11"}
              org.clojure/tools.logging    {:mvn/version  "0.3.1" }
              io.pedestal/pedestal.service #:mvn{:version "0.5.7"}
              io.pedestal/pedestal.jetty   #:mvn{:version "0.5.7"}
              ;; Helps convert sql files to Clojure functions
              com.layerware/hugsql         #:mvn{:version "0.4.9"}}
 :mvn/repos  {"central"                    {:url "https://repo1.maven.org/maven2/"}
              "clojars"                    {:url "https://clojars.org/repo"}}}
